body{
    background-color: lightpink;
}
h1{
    color:purple;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
nav{
 text-align: center;
    
}
p{
    display: inline-block;
    margin-right: 10px;
}
div p{
    color: rgb(20, 94, 24);
}
h2{
    color: deeppink;
    font-size: 20px;
    text-align: center;
}

ul{
    text-align: center;
}
ul li{
    list-style-position: inside;
    background-color: blanchedalmond;
    width: 50%;
    margin: 0 auto
}

li:nth-child(1n){
    color: rgb(223, 25, 131);
}
.title {
    font-size: 32px;
}
.pasta_section{
    display: flex ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.pasta_section .m_pasta {
    width: 50%;
}
.pasta_section .m_pasta p {
    font-size: 24px;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    color: rgb(223, 25, 131);
    padding: 10px;
}
.pasta_section .m_pasta img{
    width: 100%;
    padding: 20px;
}